<div style="display: flex;">
<% Coffee.all.each do |copy|  %>
    <div class="card" style="width:18rem;margin: auto">
    <img src=<%= copy['img_url'] %> class="card-img-top" alt="...">
    <div class="card-body">
    <h4 class="card-title" style="text-align:center;font-weight:bold"><%= copy['name'] %> </h4>
    </div>
    </div>
<% end %>
